body {
    font-family: Segoe UI, Roboto, Oxygen-Sans, Ubuntu
    , Cantarell, Helvetica Neue, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #d0021b;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.nav {
    display: flex;
}

.nav li {
    margin: 10px;
    text-decoration: none;
    color: #d0021b;
    cursor: pointer;
}

.active {
    font-weight: bold;
}

.home-container {
    text-align: center;
    width: 500px;
    height: 450px;
}

.carouselImages {
    height: 350px;
    width: 450px;
    border-radius: 5px;
}